In [5]:
import numpy as np
import pandas as pd
import streamlit

In [6]:
df = pd.read_csv(r"C:\Users\hp\Music Recommender\spotify_millsongdata.csv")

In [7]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [8]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [9]:
df.shape

(57650, 4)

In [10]:
df[:1]

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."

In [11]:
df["artist"].nunique()

643

In [12]:
df["song"].nunique()

44824

In [13]:
df[:1].text

0    Look at her face, it's a wonderful face  \r\nA...
Name: text, dtype: object

In [14]:
df['text'] = df['text'].str.replace(r"\n", '', regex = True)

In [15]:
df[:1]

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \rAnd..."

In [16]:
df['text'] = df['text'].str.replace(r"\r", '', regex = True)

In [17]:
df[:1]

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face And i..."

In [18]:
df = df.drop('link', axis = 1).reset_index(drop = 1)

In [19]:
df.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face And i..."
1,ABBA,"Andante, Andante","Take it easy with me, please Touch me gently ..."
2,ABBA,As Good As New,I'll never know why I had to go Why I had to ...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   text    57650 non-null  object
dtypes: object(3)
memory usage: 1.3+ MB

In [21]:
df = df.sample(15000)

In [22]:
df.head()

,artist,song,text
17142,Ray Boltz,The Gift,For them there were no presents Around the Ch...
39860,Kenny Chesney,Fall In Love,A little country church on a two lane road A ...
2302,Celine Dion,Eyes On Me,I know that once in love You don't think of t...
53145,Tim Buckley,I Must Have Been Blind,Here I am believin' words again Here I am try...
43222,Mary Black,One And Only,I do not see the way out I do not really know...

In [23]:
df.shape

(15000, 3)

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
model = TfidfVectorizer()

In [26]:
mat = model.fit_transform(df['text'])

In [27]:
print(mat[:1])

  (0, 21791)	0.04561237552654261
  (0, 12992)	0.04861594547281842
  (0, 36430)	0.04013978033351141
  (0, 3378)	0.05723423412333903
  (0, 16889)	0.024966914866950938
  (0, 30382)	0.07375402531361407
  (0, 38346)	0.04483231590041891
  (0, 18923)	0.03348374515532098
  (0, 14559)	0.021865243718187405
  (0, 30369)	0.04681758218006345
  (0, 5871)	0.06404375849315595
  (0, 16021)	0.04161313057880229
  (0, 26456)	0.014965911619557343
  (0, 3767)	0.05046439594765264
  (0, 7341)	0.08005076186978721
  (0, 42298)	0.05157617206160572
  (0, 39072)	0.06404375849315595
  (0, 4135)	0.08005076186978721
  (0, 1222)	0.015229579749666529
  (0, 32559)	0.03975755757178023
  (0, 41943)	0.018237049588652517
  (0, 36949)	0.054533412412092856
  (0, 24950)	0.014022164570990278
  (0, 18371)	0.057764531114213195
  (0, 38084)	0.033567142555454614
  :	:
  (0, 38679)	0.033005039692989534
  (0, 31780)	0.06115674536694065
  (0, 1545)	0.1442726687896818
  (0, 6702)	0.0738384376012659
  (0, 3165)	0.0727425758167983
  (0, 18522)	0.050345140866815526
  (0, 13617)	0.03840458878023057
  (0, 36346)	0.08169888197947199
  (0, 674)	0.044249180874158245
  (0, 20977)	0.0738384376012659
  (0, 8410)	0.052779192013574165
  (0, 43017)	0.04642961676819577
  (0, 40281)	0.058830516635487246
  (0, 21573)	0.04324865498394113
  (0, 13783)	0.06768567095203001
  (0, 39275)	0.04721745298195717
  (0, 6851)	0.4525038407941515
  (0, 38031)	0.21145407753449397
  (0, 2113)	0.055480087975621074
  (0, 29198)	0.40867664974557705
  (0, 25767)	0.07675230574121794
  (0, 41842)	0.08931499520184456
  (0, 38146)	0.01947868493304455
  (0, 38101)	0.09298677016475135
  (0, 14129)	0.03199117552816177

In [28]:
mat.shape

(15000, 43289)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
cs = cosine_similarity(mat)

In [31]:
cs[:1]

array([[1.        , 0.09415125, 0.12413543, ..., 0.13886423, 0.04999673,
        0.13065962]])

In [32]:
cs.shape

(15000, 15000)

In [36]:
final = {}

In [33]:
def get_recommendations(target, cs, tracks, top_n=3):
    try:
        index = tracks.index(target)
    except ValueError:
        print(f"Error: '{target}' is not found in the tracks list.")
        return []
    similarity_scores = cs[index]
    sorted_indices = np.argsort(similarity_scores)[::-1]
    sorted_indices = sorted_indices[sorted_indices != index]
    res = [tracks[i] for i in sorted_indices[:top_n]]
    return res

In [37]:
for target in df['song']:
    recommendations = get_recommendations(target, cs, df['song'].tolist(), 5)
    final[target] = recommendations

In [40]:
import pickle

In [41]:
with open('final.pickle', 'wb') as f:
    pickle.dump(final, f)

In [42]:
f.close

In [50]:
with open('final.pickle', 'rb') as f:
    loaded_final = pickle.load(f)
loaded_final
f.close()

In [51]:
with open('data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)
loaded_data

17142                               The Gift
39860                           Fall In Love
2302                              Eyes On Me
53145                 I Must Have Been Blind
43222                           One And Only
                        ...
32074    You Have Placed A Chill In My Heart
4999                        Men Called Uncle
23145                           40 Hour Week
11319                 Something's Gotta Give
48441                          Jugband Blues
Name: song, Length: 15000, dtype: object

In [48]:
f.close()